@import './../../styles/variables';

.filter-section {
  background-color: $backgroundColor;

  ul {
    background-color: $backgroundColorType;
    padding: 20px;
    list-style-type: none;
  }

  span {
    cursor: pointer;
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: $textColor;

    &:hover {
      color: $highlightColor;
      text-decoration: underline;
    }
  }
}
