.logo {
  position: absolute;
  top: 20%;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
}
.logoImg {
  width: 100px;
}

.heading {
  text-align: center;
}

.header-container {
  background-color: #f8f9fa;
  padding: 42px 24px 32px;
  position: relative;
}